body {
    background: url("../photos/Logos/forgotpassword-background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nav-bar {
    width: 100%;
    position: fixed;
}

#site-logo {
    float: left;
    width: 25%;
}

#site-logo img {
    width: 50%;
}


/* start of form-heading */

#form-heading {
    float: left;
    width: 45%;
    margin-top: 5%;
    margin-left: 46%;
    color: white;
    font-size: 20px;
    font-family: "times new roman";
    font-weight: bolder;
    text-align: center;
}

#form-heading-text {
    float: left;
    width: 30%;
    border-bottom: 5px solid rgba(238, 143, 34, 0.986);
}


/*start of signup-form design*/

#forgotpassword-box {
    position: fixed;
    float: left;
    width: 50%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    margin-left: 25%;
    margin-top: 10%;
}

#forgotpassword-header {
    background-color: rgba(238, 143, 34, 0.986);
    width: 50%;
    color: white;
    float: left;
    font-size: 20px;
    padding: 10px;
}

#forgotpassword-header-text1 {
    width: 100%;
    font-size: 30px;
    float: left;
}

#forgotpassword-header-text2 {
    float: left;
    margin-bottom: 25%;
    font-size: 15px;
}

#forgotpassword-header-logo {
    float: left;
    width: 50%;
    text-align: center;
    margin-right: 25%;
    margin-top: 30%;
}

#forgotpassword-header-logo img {
    width: 100%;
}

#forgotpassword-input {
    width: 50%;
    float: left;
}

#close-signup {
    float: left;
    font-size: 25px;
    color: black;
    cursor: pointer;
    background-color: white;
    margin-left: 93%;
}

#forgotpassword-form {
    text-align: center;
    font-size: 13px;
    font-family: "Bookman Old Style";
}

#forgotpassword-form input[type="email"],
input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 20px;
    margin-top: 10%;
    width: 80%;
}

#forgotpassword-password input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 20px;
    margin-top: 10%;
    width: 80%;
}

#forgotpassword-cpassword input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 20px;
    margin-top: 10%;
    width: 80%;
}

#forgotpassword-form input[type="submit"] {
    border: none;
    outline: none;
    background-color: rgba(238, 143, 34, 0.932);
    color: white;
    width: 80%;
    height: 40px;
    margin-top: 15%;
    margin-left: 7%;
    font-size: 15px;
    box-shadow: 5px 10px 15px #888888;
}

#forgotpassword-form input[type="email"]:focus,
input[type="text"]:focus {
    border-bottom: 2px solid rgba(238, 143, 34, 0.986);
    transition: 0.5s all;
    font-size: 14px;
}

#forgotpassword-form input[type="password"]:focus {
    border-bottom: 2px solid rgba(238, 143, 34, 0.986);
    transition: 0.5s all;
    font-size: 14px;
}

#forgotpassword-form input[type="submit"]:hover {
    background-color: rgba(238, 143, 34, 0.986);
}

#footer-div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 1%;
    text-align: center;
    opacity: 0.8;
}


/*end of signup form design